@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Montserrat:wght@300;400;600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #E8DCCA;
    color: #0c255e;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #0c255e;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin: 0;
}

header img {
    border-radius: 50%;
    margin-top: 15px;
 
}
/* Estilo para los recuadros de los lugares emblemáticos */
.place-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.place-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.place-box p {
    font-size: 1.1em;
    color: #555;
}

nav {
    background-color: #0c255e;
    overflow: hidden;
}

nav a {
    color: #E8DCCA;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #575757;
}
.destination-details {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.destination-details h1 {
    color: #0c255e;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.destination-details h3 {
    font-size: 1.5em;
    margin-top: 25px;
    color: #0c255e;
}

.destination-details p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}
.destination-details img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #0c255e;
    color: white;
    font-size: 1.2em;
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

table tr:hover {
    background-color: #f1f1f1;
}
ul {
    font-size: 1.1em;
    line-height: 1.8;
}

ul li {
    margin-bottom: 15px;
}

ul li strong {
    color: #0c255e;
}
footer {
    background-color: #0c255e;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.galeria img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


p {
    margin-bottom: 20px;
}

